@model DearDiary.Web.Models.ExploreViewModel

@{
    ViewBag.Title = "Explore";
}

<h2>Explore the people's aims around the world</h2>

<div class="container main-content">
    <!-- start sidebar -->
    <div class="row">
        @using (Ajax.BeginForm("ExploreAims", null,
                new AjaxOptions()
                {
                    HttpMethod = "GET",
                    UpdateTargetId = "explore-results",
                    InsertionMode = InsertionMode.Replace
                },
                new { id = "explore-form" }))
        {
            <div class="form-group">
                <input type="text" name="SearchWord" class="form-control inline-block" placeholder="Explore" />
                @*@Html.TextBoxFor(m => m.submitModel.SearchWord, new { @class = "form-control", placeholder = "Search" })*@
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>

            <ul class="inline-list">
                <li>Sort : </li>
                <li>
                    <input id="sort1" type="radio" name="SortBy" value="name" class="display-none submit-on-checked">
                    <label for="sort1" class="cursor-pointer">Name</label>
                </li>
                <div class="clear"></div>
            </ul>

            <div class="col-md-3">
                <div>
                    <section>
                        <h4>Categories</h4>
                        <div class="row1">
                            @*@foreach (var genre in Model.Genres)
                            {
                                <div class="checkbox-new">
                                    <label>
                                        <input type="checkbox" class="submit-on-checked" name="ChosenGenresIds" value="@genre.Id">
                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        @genre.Name
                                    </label>
                                </div>
                            }*@
                            <div class="checkbox-new">
                                <label>
                                    <input type="checkbox" name="genre" value="">
                                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                    Option
                                </label>
                            </div>
                            <div class="checkbox-new">
                                <label>
                                    <input type="checkbox" name="genre" value="">
                                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                    Option
                                </label>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        }
        <div id="explore-results" class="col-md-9">
            @Html.Action("ExploreAims");
        </div>

    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Scripts/explore-submit.js")
}
