@model DearDiary.Web.Models.AimDetailsViewModel

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name details</h2>

<div class="row">
    <div class="col-md-3">
        <img class="img-responsive" src="@Url.Content($"~/Images/{Model.Photo}")" alt="@Model.Name" />
    </div>
    <div class="col-md-9">
        <h1>@Model.Name</h1>
        <h3>@Model.OwnerName</h3>
        <p>@Model.Description</p>
        <h5>@Model.CityName</h5>
        <h5>@Model.CountryName</h5>

       
        @if (this.User.Identity.IsAuthenticated)
            {
            <div class="btn-group">
                <button type="button" class="btn btn-primary">TO DO</button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">TO DO</a></li>
                    <li><a class="dropdown-item" href="#">Fulfilled</a></li>
                </ul>
            </div>
        }
    </div>
</div>