<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="backgroundImg">
    </div>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                    <img src="~/Content/deardiarylogo.png" alt="Dear Diary" width="150" height="50" />
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="slideTo">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        <li class="slideTo">@Html.ActionLink("About", "About", "Home", new { area = "" }, null)</li>
                        <li class="slideTo">@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>                        
                        <li class="slideTo">@Html.ActionLink("Explore", "Index", "Explore", new { area = "" }, null)</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                    @Html.Partial("_AdminPartial")

                </div>
            </div>
        </div>
        <div class="container content body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)
</body>
</html>
